# Ignore node_modules inside the backend folder
/node_modules/

# Ignore environment variable files
.env

# Ignore build folders and output files
dist/
build/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system-specific files
.DS_Store
Thumbs.db
